*.iml
.idea/
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.env.*
!.env.example
debug.keystore
*.jks
*.keystore

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.apk
*.aab
*.apks
*.idsig

pepk_out.zip
upload_certificate.pem
*.pem
temp_restored.webp
